<!DOCTYPE html>
<html lang="es" data-bs-theme="ligth">
<head>
  <meta charset="utf-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <title>Votar_evento</title>
</head>
<body> 
  {{> barrita_de_arriba}}
  <div class="container">
    <div class="table-responsive">
      <table class="table table-bordered text-center table-responsive table-fixed shadow">
        <thead>
          <tr>
            <th scope="col">ID evento</th>
            <th scope="col">Nombre del evento</th>
            <th scope="col">Estado del evento</th>
            <th scope="col">Acción</th>
          </tr>
        </thead>
        {{#each encuestas}}
        <tbody class="table-group-divider">
          <tr>
            <th scope="row">{{this._id}}</th>
            <td id="nombre_evento1">{{this.nombre}}</td>
            <td>{{#if this.estado}}En curso{{else}}Finalizado{{/if}}</td>
            <td>
  <nav class="nav">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#miModal1{{this._id}}" {{#unless this.estado}}disabled{{/unless}}>Votar</button>
  </nav>
</td>
          </tr>
        </tbody>
        {{/each}}
      </table>
    </div>
  </div>

  <!-- Modal1 -->
  {{#each encuestas}}
<div class="modal fade" id="miModal1{{this._id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Votar Encuesta</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h5 class="mb-4 text-center">Nominados por convivencia</h5>
        <h5 class="mb-4 fw-normal text-center">Selecciona una opción</h5> 
        <form action='/eventos/{{this._id}}/votar' method="post">
  <input type="hidden" name="eventoId" value="{{this._id}}">
  <ul class="h6 fw-normal">
    <li class="py-3"> 
      <label for="candidato1">
        <input type="radio" id="candidato1" name="opcion_voto" value="{{this.candidato1._id}}">
        <span id="candidato_1a">{{this.candidato1.nombre}}</span>
      </label>
    </li>
    <li class="py-3"> 
      <label for="candidato2">
        <input type="radio" id="candidato2" name="opcion_voto" value="{{this.candidato2._id}}">
        <span id="candidato_2a">{{this.candidato2.nombre}}</span>
      </label>
    </li>
    <li class="py-3"> 
      <label for="candidato3">
        <input type="radio" id="candidato3" name="opcion_voto" value="{{this.candidato3._id}}">
        <span id="candidato_3a">{{this.candidato3.nombre}}</span>
      </label>
    </li>
  </ul>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary">Votar</button>
  </div>
</form>       
      </div>
    </div>
  </div>
</div>
{{/each}}

<script src="/votar.js"></script>

  {{> footer }}


</body>
</html>
