<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <title>Votaciones</title>
</head>
<body>
    {{> barrita_de_arriba}}
    <div class="Votaciones container" id="votaciones">
        <div class="table-responsive"> 
            <table class="table table-bordered text-center table-responsive table-fixed shadow">
                <thead>
                    <tr>
                        <th scope="col">ID evento</th>
                        <th scope="col">Nombre del evento</th>
                        <th scope="col">Fecha de creación</th>
                        <th scope="col"> </th>
                        
      {{#each encuestas}}
  <tbody class="table-group-divider">
    <th scope="row">{{this._id}}</th>
    <td id="nombre_evento1">{{this.nombre}}</td>
    <td id="fecha1">{{this.fecha}}</td>
    <td>
      <!-- Button trigger modal -->
      <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#miModal1{{_id}}">Ver detalles</button>
      <!-- Modal -->
      <div class="modal fade" id="miModal1{{_id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel"><b></b></h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <h3>Candidatos y votos:</h3>
              <p>Evento: {{this.nombre}}</p>
              <p>{{this.candidato1.nombre}} - {{this.votosCandidato1}} votos</p>
              <p>{{this.candidato2.nombre}} - {{this.votosCandidato2}} votos</p>
              <p>{{this.candidato3.nombre}} - {{this.votosCandidato3}} votos</p>
              <p><b>Estado del evento:</b>
                <p>{{#if this.estado}}En curso{{else}}Finalizado{{/if}}</p>
              </p>
            </div>
          </div>
        </div>
      </div>
    </td>
  </tbody>
{{/each}}
            </table>
        </div>
    </div>      
    {{> footer }}
</body>
</html>